body {
  background-color: #cecece;
  margin:0;
  padding:0;
  font-size:18px;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size:3em;
  font-weight: 900;
  color:#fff;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size:2.5em;
  font-weight: 900;
  color:#747474;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size:1.5em;
  font-weight: 900;
  color:#747474;
}

p,
ul li {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 400;
  color:#747474;
}

ul li a {
  color: #4c494d;
}

.container {
  width: 100%;
  margin:0;
  padding:0;
}

.container.intro {
  height: 15vh;
  padding: 25px;
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;;
}

.container.intro p {
  color:#fff;
  margin:-25px 0 0 0;
}

.container.links {
  margin:25px 0;
  padding:50px;
  background-image: url(../images/bg2.jpg);
  background-repeat: no-repeat;;
  background-size: cover;
  background-attachment: fixed;;
  background-position: bottom;
}

.container.links h2 {
  color:#fff;
}

.row {
  width:100%;
  padding:0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.col-1 {
  width:35%;
}

.col-1 img  {
  width:100%;
  border-radius: 0 0 100px 0 ;
}

.col-2 {
  width:65%;
  padding:25px 45px;
}

.break {
  display: flex;;
}

.break ul {
  margin:0 50px 0 0;
}

ul li {
  line-height: 1.7;
}

.gallery {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.gallery a {
  margin:0 25px 0 0;
  flex-grow:1;
}

.gallery a:hover {
  opacity: 0.5;
}

.gallery img {
    width:90%;
    border-radius:50px;
}

.container .row-sketches {
  padding:50px;
}

.row-sketches {
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  align-items: flex-start;
}

footer {
  display: block;
  width:100%;
  height:800px;
  background-image: url(../images/thx.jpg);
  background-size:contain;
  background-position: center bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;;
}


/*======
ANIMATIONS
======*/

@-webkit-keyframes fade-in {
0% {
  opacity: 0;
}
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
	-webkit-animation: fade-in 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.shadow-drop-center {
	-webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}


/*======
ANIMATIONS
======*/

@media screen and (max-width: 1024px) {
   .decoration{
     display:none;
   }

   .col-2 {
     width:100%;
   }

   .row-sketches {
     flex-direction: column;
   }

   .row-sketches .col-1,
   .row-sketches .col-2.break {
     width:100%;
   }

   .break ul {
     display: block;
     width:100%;
   }
}
